COMPOSE_PROJECT_NAME=lyvox-gerenciamento-local
LYVOX_ENV=development
POSTGRES_DB=lyvox
POSTGRES_USER=lyvox
POSTGRES_PASSWORD=GENERATE_WITH_PNPM_INFRA_UP
PGBOUNCER_HOST_PORT=6432
MAILPIT_SMTP_HOST_PORT=1025
MAILPIT_UI_HOST_PORT=8025
