COMPOSE_PROJECT_NAME=lyvox-gerenciamento-local
LYVOX_ENV=development
POSTGRES_DB=lyvox
POSTGRES_USER=lyvox
POSTGRES_PASSWORD=GENERATE_WITH_PNPM_INFRA_UP
API_SESSION_SECRET=GENERATE_WITH_PNPM_INFRA_UP
AUTH_MFA_ENCRYPTION_KEY=GENERATE_WITH_PNPM_INFRA_UP
PGBOUNCER_HOST_PORT=6432
REDIS_HOST_PORT=6380
MAILPIT_SMTP_HOST_PORT=1025
MAILPIT_UI_HOST_PORT=8025
API_HOST=127.0.0.1
API_PORT=4000
TRUSTED_ORIGINS=http://127.0.0.1:5173
TRUSTED_PROXY_CIDRS=127.0.0.1,::1
SESSION_TTL_SECONDS=604800
